<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.vishal.cash">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="CashGo"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <activity android:name=".Main2Activity" />
        <activity
            android:name=".Main3Activity"
            tools:ignore="DuplicateActivity" />
        <activity android:name=".Main4Activity" />
        <activity android:name=".Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainAppActivity"
            android:label="@string/title_activity_main_app"
            android:theme="@style/AppTheme" />
        <activity android:name=".Rateus"></activity>
        <activity android:name=".Contactus"></activity>
        <activity android:name=".About"></activity>
    </application>

</manifest>